@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --light-primary: #e8e8e8;
    --light-secondary: #f3f3f3;
    --light-third: rgb(220, 220, 220);
    --color: rgb(0, 0, 0);
    --accent: rgb(129, 187, 208);
    --invert: #181818;
}
.darkmode {
    --light-primary: #181818;
    --light-secondary: #242424;
    --light-third: rgb(35, 35, 35);
    --color: rgb(225, 225, 225);
    --accent: rgb(137, 200, 222);
    --invert: #f3f3f3;
}

*{
    scroll-behavior: smooth;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-primary);
    margin: 0;
    padding: 0;
    color: var(--color);
    transition: all .1s;
    
}

a{
    text-decoration: none;
    color: var(--color);
}
#container{
    height: 100vh;
    width: 100%;

}

.header {
    height: 90vh;
    text-align: center;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}


.project {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.card {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
}

.preview {
    height: 15em;
    width: 15em;
    background-color: var(--accent);
    border-radius: 10px;
    position:relative ;
    z-index: 1;
    opacity: .8;
}

.preview_caption {
    margin-top: .5em;
    display: flex;
    width: 15em;
    flex-direction: column;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin: auto;
    border-radius: .7em;
    padding: 1em;
    background-color: var(--light-secondary);
}

.halo::before{
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    margin:  .15em;
    border: .1em solid var(--invert);
    position: absolute;
    background-color: var(--accent);
    border-radius: 50%;
    transition: all .5s;
    visibility: visible;
    transform: translateX(.5px)
}

.halo {
    cursor: pointer;
    width: 3.45em;
    height: 2em;
    background-color: var(--light-secondary);
    border-radius: 50px;
    border: .12em solid var(--invert);

}

.halo.active::before{
    transform: translateX(23.5px)
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-secondary);
    height: 4.5em;
    padding: 0 3em;
    top: 0;
    left: 0;
    position: sticky;
}

.goto {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10px;
    background-color: var(--accent);
    border-radius: 50%;
    cursor: pointer;
    width: 2em;
    height: 2em;
    transition: all .5s;
    color: black;
    font-weight: bolder;
}

.goto:hover{
    width: 5em;
    border-radius: .9em;
}

.goto::before{
    content: "";
    opacity: 0%;
    transition-delay: 0.5;
    transition: 1s;

}
.goto:hover::before{
    content: "Open";
    opacity: 100%;
    display: block;
    transition: 1s;
}
.goto::after{
    content: ">";
    opacity: 100%;
    position: absolute;
    transition-delay: 0.5;
    transition: .5s;
}
.goto:hover::after{
    content: "";
    opacity: 0%;
}

.nextbtn {
    display: flex;

    width: 100%;
    justify-content: end;

}

.caption{
    font-size: x-large;
}

.brand{
    font-size: x-large;
    font-weight: 700;
    display: flex;
    flex-direction: row;
}

.ulnav, .ulnavbot {
    display: flex;
    gap: 5em;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.linav, .linavbot{
    text-decoration: none;
    list-style: none;
    font-size: medium;
    cursor: pointer;
}

.linav a:hover{
    color: var(--accent);
}

.switchmode {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.hilang {
    display: none !important;
}

.muncul {
    display: block !important;
}

.material-symbols-outlined {
    font-size: 1.8em !important;
    transition: all .25s;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

@media only screen and (min-width: 800px){
    
    
    .navbarbot {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .card {
        flex-direction: column;
        gap: 1em;
    }

    .list {
        display: none;
    }

    .navbar {
        padding: 0 2em;
        height: 4em;
    }

    .preview {
        height: 12em;
        width: 12em;
    }

    .preview_caption {
        width: 12em;
    }
    .navbarbot {
        bottom: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 4em;
        display: flex;
        opacity: 100%;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--light-secondary);
        z-index: 2;
    }

    .ulnavbot {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .hometxt div {
        font-size: x-large;
    }

    .header {
        font-size: medium;
    }

    .sosmed {
        width: 50% !important;
    }

}


.linavbot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.judul {
    margin: 0;
    padding: 0;
}

.jd2 {
    color: var(--accent);
}

.h1 {
    font-size: xx-large;
}

.hbrd {
    margin: 0 .5em;
    display: flex;
    font-size: xx-large;
    font-weight: 700;
}

.hjd2 {
    
    color: var(--accent);
}

.hometxt {
    margin-bottom: 1em;
    display: flex;
}

.getstarted {
    margin:  3em;
    background-color: var(--accent);
    padding: 1em 1.5em;
    border-radius: 15px;
    color: var(--light-primary);
    transition: all .3s;
}

.getstarted:hover{
    opacity: 70%;
}

.projecttitle {
    align-items: center;
    justify-content: center;
}

.content h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
    font-size: xx-large;
}
.content h6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 5em;
    font-size: x-large;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10em;
}

.fa{
    font-size: xx-large !important;
    background-color: var(--light-secondary);
    display: flex;
    text-align: center;
    padding: .5em;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
    transition: all .25s;
}

.fa:hover{
    background-color: var(--accent);
}

.sosmed {
    display: flex;
    width: 25%;
    justify-content: space-around;
    
}
